extends layout
block content
	// Add a background color and large text to the whole page
	div.w3-sand.w3-grayscale.w3-large
		// About Container
		div.w3-container(style='padding-bottom:32px;')
			div.w3-content(style='max-width:700px')
				h5.w3-center.w3-padding-64
					span.w3-tag.w3-wide ABOUT THE CAFE
				p The Cafe was founded in blabla by Mr. Smith in lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				p In addition to our full espresso and brew bar menu, we serve fresh made-to-order breakfast and lunch sandwiches, as well as a selection of sides and salads and other good stuff.
				div.w3-panel.w3-leftbar.w3-light-grey
					p
						i "Use products from nature for what it's worth - but never too early, nor too late." Fresh is the new sweet.
					p Chef, Coffeeist and Owner: Liam Brown
				img.w3-margin-top(src='/i/coffeeshop.jpg' alt='' style='width:100%;max-width:1000px')
				p
					strong Opening hours:
					|  everyday from 6am to 5pm.
				p
					strong Address:
					|  15 Adr street, 5015, NY
	// End page content