extends layout
block content
	// Add a background color and large text to the whole page
	div.w3-sand.w3-grayscale.w3-large
		// Menu Container
		div.w3-container(style='padding-bottom:32px;')
			.w3-content(style='max-width:700px')
				h5.w3-center.w3-padding-64
					span.w3-tag.w3-wide THE MENU
				div.w3-row.w3-center.w3-card.w3-padding
					a#myLink(href='javascript:void(0)' onclick="openMenu(event, 'Eat');")
						div.w3-col.s6.tablink.w3-dark-grey Eat
					a(href='javascript:void(0)' onclick="openMenu(event, 'Drinks');")
						div.w3-col.s6.tablink Drink
				div#Eat.w3-container.menu.w3-padding-48.w3-card(style='display: block;')
					h5 Bread Basket
					p.w3-text-grey Assortment of fresh baked fruit breads and muffins 5.50
					br
					h5 Honey Almond Granola with Fruits
					p.w3-text-grey Natural cereal of honey toasted oats, raisins, almonds and dates 7.00
					br
					h5 Belgian Waffle
					p.w3-text-grey Vanilla flavored batter with malted flour 7.50
					br
					h5 Scrambled eggs
					p.w3-text-grey Scrambled eggs, roasted red pepper and garlic, with green onions 7.50
					br
					h5 Blueberry Pancakes
					p.w3-text-grey With syrup, butter and lots of berries 8.50
				div#Drinks.w3-container.menu.w3-padding-48.w3-card(style='display: none;')
					h5 Coffee
					p.w3-text-grey Regular coffee 2.50
					br
					h5 Chocolato
					p.w3-text-grey Chocolate espresso with milk 4.50
					br
					h5 Corretto
					p.w3-text-grey Whiskey and coffee 5.00
					br
					h5 Iced tea
					p.w3-text-grey Hot tea, except not hot 3.00
					br
					h5 Soda
					p.w3-text-grey Coke, Sprite, Fanta, etc. 2.50
				img(src='/i/coffeehouse2.jpg' style='width:100%;max-width:1000px;margin-top:32px;')
	// End page content